<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.portfolio.member">
	<select id="read" resultType="memberDTO">
		<![CDATA[
			select * from portfolio_member
			where m_id = #{m_id}
		]]>
	</select>
	<select id="duplicate" resultType="memberDTO">
		<![CDATA[
			select m_id from portfolio_member
		]]>
		<where>
			#{target} = #{value}
		</where>
	</select>
	<select id="allrow" resultType="integer">
		select count(m_index) from portfolio_member
	</select>
	<select id="list" resultType="memberDTO" parameterType="hashmap">
		<![CDATA[
			select * from(
						  select * from(
						  				select m_index,
				   							   m_id,
				   							   m_nickname,
				   							   m_name,
				   							   m_age,
				   							   m_gender,
				   							   m_grant,
				   							   m_registdate, 
				   							   rownum as r from portfolio_member
		]]>
		<if test="searchvo!=null ? searchvo.target != null:false">
			<where>
				<![CDATA[
					${searchvo.target} =  #{searchvo.value}
				]]>
			</where>
		</if>
		<![CDATA[
			order by m_index asc
		]]>
		<![CDATA[
		)
		]]>
		<where>
		<![CDATA[
			r <=20
		]]>
		</where>
		<![CDATA[
		)
		]]> 
			<if test="pagingvo != null">
		<where>
				r between #{pagingvo.minimum} and #{pagingvo.maximum}
		</where>
			</if>
	</select>
</mapper>