body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	color: #673ab7;
}
.loginBox{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 500px;
	height: 100vh;
	padding: 80px 40px;
	box-sizing: border-box;
	padding-top: 46px;
	

}
h1{
	position: relative;
	left: 68px;
	margin: 0;
	padding: 0 0 20px;
	color: black;
	justify-content: center;
}
.loginBox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: black;
}
.loginBox input{
	width: 60%;
	margin-bottom: 20px;
	line-height: 25px;
}
.loginBox input[type="submit"]{
	height: 40px;
	font-weight: bold;
	font-size: 18px;
}
.gender{
	align-items: center;
	justify-content: center;
    height: 30px;
    margin-bottom: 20px;
}
.girl{
	
	position: relative;
	left: 50px;
	bottom: 21px;
}
.girl span{
	position: relative;
	top: 1px;
}
.man{
	position: relative;
	left: 150px;
	bottom: 58px;
}
.man span{
	position: relative;
	top: 1px;
}
input[type="radio"]{
	display: inline-block;
	width: 10%;
}
.birth p{
	margin-bottom: 5px;
}
select{
	position: relative;
	width: 80px;
	height: 25px;
	color: black;
	
	border-radius: 25px;
	outline: none;
	border: 1px solid #673ab7;
	font-size: 13px;
	text-align: right;
	
}
select option{
	color: #fff;
	border-radius: 25px;

}
select:hover{
border: 2px solid #673ab7;
color: #673ab7;
}
samp{
	position: relative;
	right: 5px;

}

button{
	color: black;
	position: relative;
	bottom: 55px;
	left: 260px;
	height: 30px;
	width: 70px;
	border-radius: 25px;
	outline: none;
	border: 1px solid #ccc;
}
button:hover{
border: 2px solid #673ab7;
color: #673ab7;
}
.birth{
	margin-bottom: 20px;
}
.txtb{
 display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 25px;
  border: 2px solid #ccc;
  outline: none;
  font-size: 15px;
  padding: 5px;
}
.txtb:hover
{
border: 2px solid #673ab7;
color: #673ab7;
}
input[type="submit"]{
	position: relative;
	bottom: 30px;
	color: #fff;
	background: #673ab7;
	border-radius: 25px;
	outline: none;
	border: 1px solid #673ab7;
}
.adress{
	position: relative;
	bottom: 30px;
}
.adress2{
	position: relative;
	bottom: 35px;
}
.gender{
	color: black;
}
span{
	position: relative;
	bottom: 20px;
	color: black;
	text-align:  center;
	
}